
.resume-section {
  position: relative !important;
  padding-top: 144px !important;
  padding-bottom: 330px !important;
  background-color: var(--clr-bg) !important;
  color: var(--clr-txt) !important;
}


.github{
  padding-bottom: 30px;
}
